@import url('https://fonts.googleapis.com/css?family=Caladea|Lora|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:500|Roboto|Roboto+Mono&display=swap');

html,body{
    overflow-x: hidden;
}
.navigation-button{
    display: none;
}
.login-register{
    display: none;
}
a{
    color: inherit;
}
.search-icon-toggle{
    display: none;
}
.nav-custom{
    background-color: white !important;
    margin-top: 2px;
}
.navbar-img{
    margin-left:1.5em;
}
.search{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0.9em;
}
.search-bar{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}
.search-icon{
    color: white;
    border-color: #37A000;
    background: #37A000;
    width: 9%;
    border: 0px;
    height: 35px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

}
.search-input{
    width:328px;
    height: 35px;
    border: 1px solid #37A000;
    border-top-left-radius:  1em;
    border-bottom-left-radius: 1em;
    border-right-color: white;
    border-bottom-right-radius:0px ;
    border-top-right-radius:0px ;
    box-shadow: none;
    outline-color: none;
    padding-left: 10px;
}
.search-input:focus{
    border-radius: 0px;
}
.search-input::placeholder{
    color: #37A000;
    font-size: 1em;

    font-family: Roboto, Sans-Serif;
}
.drop-nav{
    background-color: white;
    border: 1px solid #37A000;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    opacity: 0.6;
    /* #616161 */
    font-size:0.9em;
    margin: 0px;
    padding: 0px;
    height: 35px;
    width: 122px;
    border-right-color: white;
}
.drop-nav:hover{
    font-weight: 500;
    opacity: 1;

}
.drop-nav-item{
    font-family: Roboto,Sans-Serif;
    font-size: 0.95em;

}
.drop-nav-item:hover{
    background-color: #37A000;
    color: white;
    text-shadow: none;
}

.cart-custom{
    margin-left: 50px;
}
.cart-img{
    position: relative;
    top: 0.1em;

}
.cart-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
    top: 0.2em;
}
.cart-num-div{

    background-color: #37A000 ;
    border-radius: 40%;

}
.cart-num{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.9em;
    font-family: Roboto,Sans-Serif;

}
.cart-word{
    font-family: Roboto.Sans-Serif;
    position: relative;
    top: -0.25em;
    font-size: 0.9em;
    font-weight: bold;
    color: #37A000;
    margin-left:2px;

}
.avatar{
    margin-left: 57px;
    position: relative;
    top: 0.25em;
    display: flex;
    flex-direction: row;
}
.avatar-split{
    font-size: 1.7em;
    color: #404553;
    position: relative;
    top: -0.3em;
    margin-left: 0.25em;
}
.login{
    position: relative;
    top: 0.4em;
    margin-left: 0.4em;
    font-size: 0.9em;
    text-shadow: none;
    color: #404553 !important;
    font-family: 'Roboto',Sans-Serif;
    font-weight: bold;
}
.login:hover{
    text-decoration: underline;
    color: #37A000 !important;
}
.register{
    position: relative;
    top: 0.4em;
    margin-left: 0.3em;
    color: #404553;
    font-size: 0.9em;
    text-shadow: none;
    font-family: Roboto,Sans-Serif;
    font-weight: bold;
}
.register:hover{
    text-decoration: underline;
    color: #37A000 !important;
}
.language{
    margin-right: 3em;
    font-size:0.9em;
    font-weight: bold;
    font-family: Roboto,Sans-Serif;
    color: #373A3C;
}
.my-cart-box{
    margin-top: 2em !important;
}
.img-product{
    margin-top: 1em;
    margin-bottom: 1em;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
.all-category-word{
    background-color: white !important;
    color: #1C7CD5 !important;
    font-family: Mono, Sans-Serif;
    font-weight:600;
    margin-left: 3.5em;
    margin-right: 1em;
    font-size: 0.95em;
    border-right-color: #B2BBD2;
}
.bar-item{
    margin-right: 0.6em;
    color: #103043;
    font-family: Mono, Sans-Serif;
    font-size: 0.95em;
    font-weight: 600;

}
.row-background{
    background-color: #fcfbf4;
}
.my-cart{
    font-size: 1.1em;
    font-family: Roboto, Sans-Serif;

}
.num-items{
    font-size: 1.1em;
}
.details-product-box{
    margin-top: 1em;
}
.name-of-product{
    color: #7E859B;
    font-size: 1.05em;
    font-family: Mono, Sans-Serif;
}
.short-description{
    font-family: Roboto, Sans-Serif;
    font-weight: 600;
    font-size: 1em;
}
.time-expect{
    font-size: 0.8em;
    color: #7E859B;
    font-family: Roboto, Sans-Serif;

}
.nis-word{
    font-size: 0.9em;
    color: #7E859B;
    font-weight: 300;
    margin-top: 1px;
}
.nis-price{
    font-size: 1.1em;
    color: #404553;
    font-weight: 600;
    font-family: Roboto, Sans-Serif;
}
.price-box{
    margin-top: 1em;
}
.quantity{
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: Roboto, Sans-Serif;
}
.content-box{
    margin-left: 4em
}
.box-product{
    border: 1px solid #EDEDED;
    margin-top: 1em;
}
.order-box{
    margin-top: 2em;
    background-color: #F7F9FE;
}
.order-word{
    font-size: 1.1em;
    font-family: Roboto, Sans-Serif;
    margin-top: 0.5em;
}
.total{
    font-family: Roboto, Sans-Serif;
    font-size: 1.05em;
    color: #707070;
}
.items{
    color: #7E859B;
    font-size: 0.9em;
}
.price-result-box{
    margin-right: 0.9em;
}
.total-box{
    margin-top: 1em;
}
.nis-result{
    font-size: 0.9em;
    color: #404553;
    font-weight: 300;
    font-family: Roboto, Sans-Serif;
}
.price-result{
    font-size: 1em;
    font-family: Roboto, Sans-Serif;
    color: #404553;
    font-size: 1em;
    font-weight: 600;
}
.shipping{
    font-family: Roboto, Sans-Serif;
    font-size: 1.05em;
    color: #707070;
}
.shipping-box{
    margin-top: 0.5em;
}
.line-hr{
    color:#B2BBD2;

}
.btn-checkout{
    background-color: #1369B9;
    color: white;
    font-weight: 500;
    padding: 7px;
    font-family: Roboto, Sans-Serif;
}
.we-are{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
}
.we-are-word{
    margin-top: 15px;
    color: #404553;
    font-family: Roboto, Sans-Serif;
    font-weight: 600;
    font-size: 1em;

}
.contact-with-us{
    color: #7E859B;
    font-family: Roboto, Sans-Serif;
    font-size: 0.9em;
    margin-top: 5px;
}
.img-conatact{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top: 5px;
}
.one-contact{
    display: flex;
    flex-direction: row;
    margin-left: 6em;
    margin-top: 1em;
}
.word-of-contact{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
.upper-contact{
    font-weight: 500;
    font-family:Roboto, Sans-Serif;
    font-size: 0.8em;
    color: #7E859B;
}
.lower-contact{
    font-size: 1em;
    font-weight: 600;
    font-family: Roboto, Sans-Serif;
    color: #404553;
}
.second-contact{
    display: flex;
    flex-direction: row;
    margin-left: 0em;
    margin-top: 1em;
}
.whatsapp{
    margin-left: 1em;
    font-size: 1.1em;
    font-weight: 600;
    font-family: Roboto, Sans-Serif;
    color: #404553;
    margin-top: 5px;
}
.who-we-are-box{
    margin-left: 4.8em;
}
footer{
    margin-top: 1.5em;
}
.who-we-are-title{
    font-family: Roboto, Sans-Serif;
    font-size: 1.1em;
    font-weight: 500;
}
.who-we-are-content{
    margin-top: 0.4em;
    font-family: Roboto, Sans-Serif;
    font-size: 1em;

}
.report-word{
    font-family: Roboto, Sans-Serif;
    font-size: 1.1em;

}
.input-email{
    margin-top: 0.5em;
}
.email-word{
    font-size: 1em;
    font-family: Roboto, Sans-Serif;
    margin-top: 0.8em;
}
.text-email{
    margin-top: 1em;
    resize: none;
}
.submit-email{
    width: 35%;
    margin-left: 5.2em;
    margin-top: 0.5em;
    border-color: #37A000!important;
    background-color: white;
    font-weight: 500;
    font-size: 1.2em;
    padding: 5px;
    font-family: Roboto, Sans-Serif;
}
.submit-email:hover{
    background-color: #37A000;
    color: white;
}
.download-our{
    text-align: center;
    font-size: 1.1em;
    font-family: Roboto, Sans-Serif;
    font-weight: 500;
}
.imgs-footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.title-img{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}
.title-img-sec{
    display: flex;
    flex-direction: column;
    margin-left: 4.5em;
}
.title-img-word{
    margin-left: -20px;
}
.img-store{
    margin-top: 0.5em;
    margin-top: 1em;

}
.title-img-word-custom{
    margin-left: -25px;
}
.right-reserved{
    margin-left: 5em;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.below-footer{
    background-color: #F7F9FE !important;

}
.imgs-below{
    margin-right: 5em;

}
.img-below-it{
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.connect-with{
    margin-right: 2em;
    margin-top: 1.1em !important;
    font-family: Roboto, Sans-Serif;
    font-size: 1.1em;
}
/* mobile





















 */

@media (max-width: 450px) {


    .submit-email{
        width: 25%;
        font-size: 0.7em;
        margin-left: 10em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .right-reserved{
        margin-left: 20px;
        font-size: 0.7em;
    }
    .below-footer{
        display: flex;
        flex-direction: row;
    }
    .seller-box{
        margin-left: 1px;
    }
    .return-box{
        margin-left: 3px!important;
    }
    .highlights-box{
        margin-left: 2px;
    }
    .img-store{
        width: 30px;
        height: 30px;

    }
    .title-img-word-custom{
        font-size: 0.7em;
    }
    .title-img-word{
        font-size: 0.7em;
    }
    .imgs-below{
        margin-right: 3em;

    }
    .img-below-it{
        margin-right: 0.5em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        width: 24px;
        height: 24px;
    }
    .connect-with{
        margin-right: 20px;
        margin-top: 1.5em !important;
        font-family: Roboto, Sans-Serif;
        font-size: 0.7em;
    }
    .more-in-this{
        margin-top: 1.5em;
        margin-left: 1em;
        font-size: 1.2em;
        font-family: Roboto, Sans-Serif;
        color: #404553;
    }

    .who-we-are-box{
        margin-left: 20px;
    }
    .who-we-are-title{
        font-size: 1em;
    }
    .who-we-are-content{
        font-size: 0.8em;
    }
    .report-box{
        margin-left: 20px;
        margin-top: 15px;
    }
    .navbar-img {
        margin-left: 0px;

    }
    .download-our{
        text-align: center;
        margin-left: 1em;
        margin-top: 25px;
        font-size: 0.8em;
    }
    .downl-word{
        margin-left: 1.5em;
    }
    .search-bar{
        margin-left: 0px;
        margin-bottom: -3em;
    }
    .search-input{
        width: 200px;
    }

    .search-icon-toggle{
        display: inline;
        background-color: #37A000;
        color: #ffffff;
        margin-left:110px;
        font-family: Roboto, Sans-Serif;
        font-weight: 100;
        width: 30px;
        height: 30px;
        padding-top: 4px;
        text-align: center;
        border-radius: 50px;
    }
    .search-bar{
        display: none;
    }
    .cart-custom{
        position: relative;
        left: -50px;
    }
    .cart-word{
        font-weight: bold;
        color: #37A000;
    }
    .avatar{
        display: none;
    }
    .language{
        display: none;
    }
    .navigation{
        position: absolute;
        right: 0px;
        top: -16px;
        z-index: 100;
        background-color: white;
    }.category-main{
         margin-top: -1px;
         margin-left: 0px;
     }
    .navigation-button{
        display: inline;
        margin-top: 20px;
        width: 40px;
        height:40px;
        color: white;
        background-color: white;
        text-align: center;
        font-size: 1.9em;
        padding-top: -0px;
        color: #37A000;

    }
    .category-title{
        background-color: white;
    }
    .category-main{
        display: none;
    }
    .login-mob{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        padding-left: 13px;
        padding-right: 8px;
        border-radius: 5px;
        padding-top: 2px;

    }
    .login-register{
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .icon-loign{
        margin-top: 5px;
        color:#33691E;
        font-size: 1.5em;

    }
    .login-word-mob{
        margin-top: 5px;
        margin-left: -6px;
        font-size: 0.8em;
        font-weight: 600;
        font-family: Roboto, Sans-Serif;
    }
    .register-mob{
        display: flex;
        flex-direction: column;
        margin-left: 30px;

        padding-left: 10px;
        padding-right: 8px;
        border-radius: 5px;
        padding-top: 2px;

    }
    .icon-register{
        margin-top: 8px;
        color:#33691E;
        font-size: 1.5em;
    }
    .register-word-mob{
        margin-left: -8px;
        font-size: 0.8em;
        font-weight: 600;
    }
    .img-category{
        display: none;
    }
    .category-word{
        font-size: 0.8em;
    }
    .category-title{
        background-color: #F1F1F0;
        height: 35px;
        margin-top: 10px;
    }
    .img-sub-category{
        display: none;
    }
    .sub-category-word{
        font-size: 3em;
    }

    .advertisment{
        width: 380px;
        margin-left: 10px;
        height: 60px;
        font-size: 0.8em;
        padding-top: 1em;
    }
    .first-slider-item{

    }

    .product-name{
        font-size: 0.55em;
        width: 160%;
        line-height: 1.2em;
    }
    .product-slider-main{
        width: 105%;
        margin-left: -10px;

    }
    .product-img-slider{
        width: 68px !important;
        height: 120px !important;
        border-radius: 2px;
    }
    .more-box{
        margin-left: 0px;
    }
    .blue-card{
        width: 200%;
    }
    .blue-card-in{
        font-size: 0.6em;
    }
    .sliders{
        margin-left: 0px;
    }
    .img-slider{
        height: 200px !important;
        width: 103% !important;
    }
    .nis{
        font-size: 0.5em;
    }
    .price-num{
        font-size: 0.5em;
        margin-top: -1px;
    }
    .price-del{
        font-weight: 600;
        margin-top:1px;
        font-size: 0.35em;

    }
    .product-price{
        width: 140%;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 45px;
        width: 45px;
        outline: white;
        opacity: 0.7;
        background-size: 100%, 100%;
        border: 1px solid white;
        background-image: none;
        background-color: white;
    }

    .carousel-control-next-icon:after
    {
        content: '>';
        font-size: 45px;
        color: #424242;
        padding-top: 0px;
        margin-top: 0px;
        border-top: 0px;
        position: relative;
        top: -16px;
        right: -4px;
        font-weight: 200;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 45px;
        color: #424242;
        padding-top: 0px;
        margin-top: 0px;
        border-top: 0px;
        position: relative;
        top: -16px;
        right: 4px;
        font-weight: 200;
    }
    .recommednd-word{
        font-size: 0.9em;
        margin-left: 6px;
    }
    .green-card{
        width: 30px;
        height: 10px;
        background-color: #D7EFCC;
        text-align: center;
        margin-top: 5px;
    }
    .green-card-in{
        font-weight: 600;
        color: #3C9522;
        font-family: Roboto, Sans-Serif;
        font-size: 0.4em;
        margin-top: 2px;
        padding-top: 2px;
    }
    .next-control-product{
        margin-bottom: 3em;
        margin-right: -0.5em;
    }
    .prev-control-product{
        margin-bottom: 3em;
        margin-left:-1.1em;
        width: 5em;
    }
    .indicator-custom{
        margin-bottom: -1px;
    }
    .prev-custom{
        margin-left:-0.55em;
        width: 4em
    }
    .next-custom{
        margin-right: -0.5em;
        width: 4em
    }
    .best-sales{
        width: 100%;
        margin-left: 0px;
    }
    .best-sales-word{
        margin-left: 15px;
        font-size: 0.8em;
    }
    .product-inside-last{
        display: none;
    }
    .product-inside-custom{
        margin-right: 10px;
    }

    .view-more-out{
        width: 100%;
        text-align: center;
        margin-top: 1em;

    }
    .view-more-in{
        width:160px !important;
        height: 36px !important;
        font-size: 0.7em;
        color: #ffffff;
        font-weight: 400;
    }
    .view-more-div{
        margin: auto;
        width: 80px;
        height: 30px;
        background-color: #37A000;
        border-radius:1em;
    }
    .view-more-div:hover{
        background-color:#aaf255;
    }
    .view-more-box{
        width: 20%;
        background-color: #1C7CD5;
        text-align: center;
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 0.6em;
        color: white;
        font-family: Roboto, Sans-Serif;
        border-radius: 1em;
    }
    .offers-content{
        margin-left:0em;
        margin-top: 3em;
    }
    .img-offers-content{
        width: 84px;
        height: 84px;
    }
    .offers-box{
        margin-left: 0px;
        margin-top: 0.5em;
    }
    .offers-title{
        font-size: 0.6em;
        width: 120%;
    }
    .offers-word-background{
        width: 200px;
        height: 30px;

    }
    .offers-out{
        margin-top: 15px;
        margin-left: 5px !important;
    }
    .offers-word{
        font-size: 0.7em;
    }
    .img-offers{
        width: 30px;
        height: 30px;
        top: 1.8em;
    }
    .offers-content{
        margin-left: 20px !important;
        margin-top: 20px !important;
    }
    .offers-description{
        font-size: 0.6em;
        width: 120%;
    }
    .second-offers{
        margin-top: 0px;
        margin-left: 20px;
    }
    .we-are{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .we-are-word{
        margin-top: 15px;
        color: #404553;
        font-family: Roboto, Sans-Serif;
        font-weight: 600;
        font-size: 0.8em;

    }
    .contact-with-us{
        color: #7E859B;
        font-family: Roboto, Sans-Serif;
        font-size: 0.6em;
        margin-top: 5px;
    }
    .img-conatact{
        height: 30px !important;
        border-radius: 40%;
        background-color:inherit;
        text-align: center;
        padding-top: 0px;
    }
    .one-contact{
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .word-of-contact{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .upper-contact{
        font-weight: 500;
        font-family:Roboto, Sans-Serif;
        font-size: 0.4em;
        color: #7E859B;
        width: 150%;
    }
    .lower-contact{
        font-size: 0.5em;
        font-weight: 600;
        font-family: Roboto, Sans-Serif;
        color: #404553;
    }
    .second-contact{
        display: flex;
        flex-direction: row;
        margin-left:30px;
        margin-top: 1em;
    }
    .whatsapp{
        margin-left:7px;
        font-size: 0.4em;
        font-weight: 600;
        font-family: Roboto, Sans-Serif;
        color: #404553;
        margin-top: 8px;
    }
    .img-contact-custom{
        width: 16px;
        height: 16px;
    }
    .contact-card{
        width: 105%;
    }

}
@media (max-width: 370px) {

    .product-img-slider{
        width: 60px !important;
        height: 120px !important;
        border-radius: 2px;
    }
    .best-sales{
        width: 100%;
        margin-left: -10px;
    }
    .best-sales-word{
        margin-left: 5px;
    }
    .offers-content{
        margin-left:0em;
        margin-top: 3em;
    }
    .img-offers-content{
        width: 84px;
        height: 84px;
    }
    .offers-box{
        margin-left: 0px;
        margin-top: 0.5em;
    }
    .offers-title{
        font-size: 0.6em;
        width: 120%;
    }
    .offers-word-background{
        width: 200px;
        height: 30px;

    }
    .offers-out{
        margin-left: 20px;
    }
    .offers-word{
        font-size: 0.6em;
    }
    .img-offers{
        width: 30px;
        height: 30px;
        top: 1.8em;
    }
    .offers-content{
        margin-left: 20px;
    }
    .offers-description{
        font-size: 0.6em;
        width: 120%;
    }
    .second-offers{
        margin-top: 0px;
        margin-left: 20px;
    }
    .whatsapp{
        margin-top: 8px;
        margin-left:5px;
    }
}
@media (max-width: 330px) {
    .cart-custom{
        position: relative;
        left: -50px;
    }
    .search-icon-toggle{
        margin-left: 30px;
    }
    .advertisment{
        margin-left: 10px;
        width: 300px;
    }
    .category-above{
        margin-left: 1.5em;
        font-size: 0.65em;
    }
    .img-mini{
        margin-left: 1em !important;
        width: 35px;
        height: 38px;
    }
    .main-image{
        width: 245px;
        height: 430px;
        margin-left: 0em !important;
    }
    .box-detail{
        margin-left: 1em;
    }
    .change-area{
        margin-right: 2em;
    }
    .btn-to-cart{
        margin-left: 1em;
    }

}
@media (max-width: 320px) {
    .whatsapp{
        margin-left: 3px;
        margin-top: 5px;
        font-size: 0.3em;
    }
    .upper-contact{
        font-size: 0.35em;
    }
    .lower-contact{
        font-size: 0.4em;
    }
    .img-conatact{
        width: 14px;
        height: 14px;
        margin-top: -5px;
    }
}